DATADIR={{ adb_dataDir }}
LOGDIR={{ adb_logDir }}
CERTDIR={{ adb_certDir }}
TMP_PATH={{ adb_tmpDir }}
GLIBCXX_FORCE_NEW=1

OPTIONS=" \
{% for option in adb_arangodb_options %}
{{ option ~ ' \\' }}
{% endfor %}
{% if inventory_hostname not in groups[adb_dbservers_group_name] %}
--cluster.start-dbserver=false \
--cluster.start-coordinator=false \
{% else %}
\
{% endif %}
{% if adb_with_ssl | bool %}
--ssl.keyfile={{ adb_keystore_file }} \
--ssl.cafile={{ adb_truststore_file }} \
{% else %}
\
{% endif %}
"
